@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================= reset code and common starts here =================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Recoleta";
  src: url("../assets/fonts/Recoleta-RegularDEMO.otf") format("truetype");
  /* Add more font formats (e.g., woff, woff2) if available */
}
/* ================= reset code and common ends here =================== */
