@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================= reset code and common starts here =================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
/* ================= reset code and common ends here =================== */
